/*Acá van las propiedades que van para todas las páginas*/
*{
    font-family: $tipografia_general; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, #e7fbf9, #dff8f5, #d7f5f2, #cff1ee, #c7eeeb, #c1ebe7, #bae7e3, #b4e4df, #aedfda, #a7dbd5, #a1d6d0, #9bd2cb);
}